APP_DEBUG=true
APP_SECRET_KEY=secret_key
APP_AUTH_ACCESS_TOKEN_TTL_MINUTES=15
APP_AUTH_REFRESH_TOKEN_TTL_DAYS=30
APP_AUTH_PASSWORD_RESET_TTL_MINUTES=30

POSTGRES_HOST=user_db
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ECHO=false
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=10
